<h1>DBC OVERFLOW!</h1>
<h2 class="h2-page-title">Your go to location to ask the questions you've always wanted to know about the program.</h2>
<% if 1==1 %>
  <form id='new-question-form' action='/questions/new' method='get'>
    <input id='new-question-button' type='submit' value = 'Ask a question!'/>
  </form>
<% end %>
<nav>
  <ul>
    <% @questions.each do |question| %>
      <li class='question-preview'>
        <p class='vote-count'><%= question.votes.count %></p>
      <a href="/questions/<%= question.id %>"><%= question.title %></a>--
      Author: <a href=''><%= question.author.username %></a>
      </li>
    <% end %>
  </ul>
</nav>
