<h2 class="h2-page-title">Login mockup</h2>
<div class="form-div">
  <form class="form" method='POST' action="/sessions">
    <input type="text" name="user[username]" placeholder="Username / Email"> <br />
    <input type="password" name="user[password]" placeholder="Password"> <br />
    <input type="submit" value="submit">
  </form>
</div>
