body {
  background-image: url('chi-pic.jpg')
}

main {
  /*padding:5px;*/
  margin: auto;
  max-width: 960px;
  border: 1px solid green;
  font-family: 'Inconsolata', serif;
  background-color: #EEEFF0
}

nav {
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 5px;
}

nav.header_nav{
    text-align: right;
    background: linear-gradient(135deg, #023A42, #DCF4F7);
}

#new-question-button {
    float: right;
}

h1 {
  text-align: center;
  font-size: 5em;
  font-family: 'Patrick Hand SC';
  border-bottom: 1px double black;
  margin-top: 15px;
}

ul {
  list-style-type: none;
}


li {
  font-size: 125%;
  padding: 20px 0px;
}


.new_question_form > input,
.new_question_form > textarea,
.new_answer_form > textarea {
  width: 400px;
  margin: 5px;
}

.question-preview {

}

.inline {
  display: inline-block;
}

.h2-page-title {
    padding: 0px 25px;
    margin: 0 auto;
}

.form-div {
  padding: 50px;
  width: 700px;
  margin: auto;

}

form {
  max-width: 500px;
  padding: 50px;
  margin: 20px;
  margin-right: 20px
}

.error {
  margin: 0px;
  padding: 0px;
  color: red;
  margin-left: 25px;
}

input[type=submit] {
    margin: 20px 5px;
    border: 1px #000 solid;
    box-shadow: 5px 5px 10px #cbcbcb;
    padding: 10px;
    color: #fff;
    background-color: #1c5f8e;
}

.question-page {
  margin: 20px;
}

#new-question-img {
  float: right;
  align: top;
}

.answer-bodies {
  background: white;
  width: 75%;
}

#delete-button {
  margin: 5px;
  padding: 5px;
  vertical-align: top;
}

.fa {
  font-size: 14px;
}

.answer-data > p {
  float: right;
  margin: 0 5px;
}
.vote-data {
  vertical-align: top;
}

button {
  display: block;
}

.comment-div {
  margin-left: 25px;
  margin-right :25px;
}

.comment {
  margin: 10px;
  padding: 5px;
  background-color: rgba(150,202,219, .25);
}

.posted-on {
  margin-left: 10px;
}

a {
  color: darkblue;
}

a.header {
    padding: 8px;
}

a.delete {
    color: red;
    text-align: right;
    float: right;
    padding-bottom: 15px;
}

a.nav {
    padding: 8px;
}

.vote-buttons {
  margin: 0;
  padding: 0;
}
.thumbs {
  background: none;
  border: none;
}
