<h1>DBC OVERFLOW!</h1>
<h2 class="h2-page-title">Your go to location to ask the questions you've always wanted to know about the program.</h2>

<nav>
  <ul>
    <li class ='question_preview'>
      <p class ='vote_count'>Num Votes</p>
      <a href=''>Question Title</a>--
      <a href=''>Poster</a>
    </li>
    <li class ='question_preview'>
      <p  class ='vote_count'>Num Votes</p>
      <a href=''>Question Title</a>--
      <a href=''>Poster</a>
    </li>
    <li class ='question_preview'>
      <p  class ='vote_count'>Num Votes</p>
      <a href=''>Question Title</a>--
      <a href=''>Poster</a>
    </li>
    <li class ='question_preview'>
      <p  class ='vote_count'>Num Votes</p>
      <a href=''>Question Title</a>--
      <a href=''>Poster</a>
    </li>
  </ul>
</nav>
