<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Patrick+Hand+SC" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/application.js"></script>
  <title>DBC Overflow!</title>
</head>
<body>
  <main>
    <nav class='header_nav'>
      <a class = 'nav' href='/'>Home</a>
      <% if logged_in? %>
        <a class = 'nav' href='/logout'>Log out</a>
        <a class = 'nav' href='/users/<%= @current_user.id %>'>User Profile</a>
      <% else %>
        <a class='nav' href='/sessions/new'>Log in</a>
        <a class='nav' href='/users/new'>Register</a>
      <% end %>
    </nav>
  <%= erb :'/_errors' %>
  <%= yield %>
  </main>
</body>
</html>
